[Unit]
Description=Instance to serve My IP
Wants=network-online.target
After=network-online.target

[Service]
Environment=GIN_MODE=release
ExecStart=/var/www/myip/myip

[Install]
WantedBy=multi-user.target
